<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Nuevo juego
    </ion-title>
  </ion-toolbar>
<ion-content [fullscreen]="true"><ion-list>
  <ion-list>
    <ion-item>
      <ion-input label="Título" placeholder="Ej: Metal Gear"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Nota" type="number" placeholder="00"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Género" type="text" placeholder="Ej: JRPG"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Plataforma" type="text" placeholder="Ej: PS3"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Compañía" type="text" placeholder="Ej: Capcom"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Imagen" type="text" placeholder="url"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Año de lanzamiento" type="text" placeholder="Ej: 2017"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Año" type="text" placeholder="Ej: 2023"></ion-input>
    </ion-item>
  </ion-list>
</ion-list>
</ion-content>
